body{
    background-color: blanchedalmond;
}
p{
    background-color: aqua;
    color: yellowgreen;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.bb{
    font-size: 24px;
    border: 5px solid orange;
    color: orange;
    background-color: blue;
    text-decoration: none;
    padding: 5px 10px;
}
.bb:hover{
    border: 5px solid blue;
    color: blue;
    background-color: orange;
    font-weight: 700;
    box-shadow: 0 0 24px orange;
}
.myButton {
	border:3px solid #d02718;
	box-shadow: 5px 5px 0px -1px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:24px;
	padding:10px 36px;
	text-decoration:none;
	text-shadow:1px 1px 0px #810e05;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.myButton:active {
	position:relative;
    top:1px;
}